@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
@{
    var dataloop = Model.SwiperSlider.Count() > 1 ? true : false;
    var dataAutoplay = Model.SwiperSlider.Count() > 1 ? "5500" : "false";
}

<section class="swiper-panel-wrap">
    <div class="swiper-container swiper-slider swiper-slider_fullheight swiper-slider_nav-responsive" data-simulate-touch="false" data-loop="@dataloop" data-autoplay="@dataAutoplay">
        <div class="swiper-wrapper">

            @foreach (var item in Model.SwiperSlider)
            {
                <div class="swiper-slide bg-accent-2" data-slide-bg="@Html.Raw(item.BackgroundImage != null ? item.BackgroundImage.GetCropUrl() : "../images/slider-1-slide-1-1920x980.jpg")">
                    <div class="swiper-slide-caption text-center">
                        <div class="container">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-10 col-xxl-8">
                                    <h3 class="heading-decorated" data-caption-animate="fadeInUpSmall">@Html.Raw(item.Title)</h3>
                                    <h1 data-caption-animate="fadeInUpSmall" data-caption-delay="200">@Html.Raw(item.TextDescription)</h1>
                                    @if (item.IsButtonActive)
                                    {
                                        if (item.ButtonLink!=null)
                                        {
                                            <div class="group-lg group-middle"><a class="button button-primary" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="about-us.html">@item.ButtonLink.Name</a></div>


                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
        @if (dataloop)
        {
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev linear-icon-chevron-left"></div>
            <div class="swiper-button-next linear-icon-chevron-right"></div>
        }


    </div>
    <div class="swiper-panel section-sm bg-accent-2">
        <div class="container">
            <div class="row align-items-md-center row-custom-bordered">
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span class="counter">450</span><span>+</span></h4>
                        <p class="counter-modern__title">Trusting Clients</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span>$</span><span class="counter">14</span><span>,5 mln.</span></h4>
                        <p class="counter-modern__title">Won in Settlements</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span class="counter">98 </span><span>%</span></h4>
                        <p class="counter-modern__title">Cases Won</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span class="counter">25</span></h4>
                        <p class="counter-modern__title">Awards Won</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>