@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
        @if (Model.IsCustomerActive)
        {
            <section class="section-md bg-gray-lighter text-center">
                <div class="container">
                    <h3 class="heading-decorated">@Model.CustomersTitle</h3>
                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-carousel_centered text-center" data-autoplay="true" data-items="1" data-sm-items="2" data-md-items="4" data-lg-items="5" data-xl-items="6" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true">
                        @foreach (var item in Model.CustomerItem)
                        {
                            <div class="item"><a class="link-transparent" href="@Html.Raw(item.CustomerUrl != null ? item.CustomerUrl.Url : "#")"><img src="@Html.Raw(item.CustomerLogo != null ? item.CustomerLogo.GetCropUrl() : "../images/brand-1-128x111.png")" alt="@item.CustomerName" title="@item.CustomerName" width="128" height="111" /></a></div>
                        }


                    </div>
                </div>
            </section>
        }