@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{ 

    var globalSettings = Model?.Children<GlobalSettings>().FirstOrDefault();

}
 
<section class="pre-footer-corporate bg-accent-2">
    <div class="container">
        <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                <h6>@Umbraco.GetDictionaryValue("About")</h6>
                <p>@globalSettings.ShortAboutDescription</p>
            </div>
            @*<div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                <h6>Our Services</h6>
                <ul class="list-xxs list-primary">
                    <li><a href="single-practice.html">Labor & Employment Law</a></li>
                    <li><a href="single-practice.html">Real Estate Law</a></li>
                    <li><a href="single-practice.html">Personal Injury</a></li>
                    <li><a href="single-practice.html">Business litigation & arbitratio</a></li>
                    <li><a href="single-practice.html">Insurance Law</a></li>
                    <li><a href="single-practice.html">Mergers & Acquisitions</a></li>
                </ul>
            </div>*@
            <!--<div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                <h6>Recent Comments</h6>
                <ul class="list-xs">
                    <li>-->
                        <!-- Comment minimal-->
                        <!--<article class="comment-minimal">
                            <p class="comment-minimal__author">Jourdan Saint-Yves on</p>
                            <p class="comment-minimal__link"><a href="standard-post.html">How Couples Decide To Divorce</a></p>
                        </article>
                    </li>
                    <li>-->
                        <!-- Comment minimal-->
                        <!--<article class="comment-minimal">
                            <p class="comment-minimal__author">Adam Smith on</p>
                            <p class="comment-minimal__link"><a href="standard-post.html">How Couples Decide To Divorce</a></p>
                        </article>
                    </li>
                    <li>-->
                        <!-- Comment minimal-->
                        <!--<article class="comment-minimal">
                            <p class="comment-minimal__author">Ann Smith on</p>
                            <p class="comment-minimal__link"><a href="~/standard-post.html">What the federal legal consequences of Florida’s shooting wlll be?</a></p>
                        </article>
                    </li>
                </ul>
            </div>-->
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
                <h6>@Umbraco.GetDictionaryValue("Contacts")</h6>
                <ul class="list-xs">
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>@Umbraco.GetDictionaryValue("address")</dt>
                            <dd> @globalSettings.SiteAddress</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>@Umbraco.GetDictionaryValue("phones")</dt>
                            <dd>
                                <ul class="list-semicolon">
                                    <li><a href="callto:@(globalSettings.SiteCellPhone)">@globalSettings.SiteCellPhone</a></li>
                                    <li><a href="callto:@(globalSettings.SitePhone)">@globalSettings.SitePhone</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>@Umbraco.GetDictionaryValue("email")</dt>
                            <dd><a href="mailto:@(globalSettings.SiteEmail)">@globalSettings.SiteEmail</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>@Umbraco.GetDictionaryValue("Weareopen")</dt>
                            <dd>@globalSettings.OpeningHour</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
