@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>

@{
    
    var currentPageUrl = HttpContext.Current.Request.Url.AbsolutePath;

}          
        


<div class="rd-navbar-nav-wrap">
    <ul class="rd-navbar-nav">
        @foreach (var item in Model.TopnavItem)
        {

            <li class="@Html.Raw(currentPageUrl==item.TopNavigationItemUrl.Url? "active":"" )">

                <a href="@Html.Raw(item.TopNavigationItemUrl!=null? item.TopNavigationItemUrl.Url:"" )">@item.TopNavigationItemUrl.Name  </a>
                @if (item.TopnavigationsubItem.Count() > 0)
                {
                    <ul class="rd-navbar-dropdown">
                        @foreach (var subItem in item.TopnavigationsubItem)
                        {
                            <li>
                                <a href="@Html.Raw(subItem.TopNavigationItemUrl!=null? subItem.TopNavigationItemUrl.Url:"" )">@Html.Raw(subItem.TopNavigationItemUrl != null ? subItem.TopNavigationItemUrl.Name : "")</a>
                                @if (subItem.TopnavigationsubItem.Count() > 0)
                                {
                                    <ul class="rd-navbar-dropdown">
                                        @foreach (var subSubItem in subItem.TopnavigationsubItem)
                                        {
                                            <li><a href="@Html.Raw(subSubItem.TopNavigationItemUrl!=null? subSubItem.TopNavigationItemUrl.Url:"" )">@subSubItem.TopNavigationItemUrl.Name</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>

        }
    </ul>
</div>
