@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var homePage = (HomePage)Model.AncestorOrSelf(1);
}

@Html.Partial("HP/_HPswiperSlider", homePage)

<!-- Welcome-->
@Html.Partial("HP/_HPwellcom", homePage)

<!-- Why Hiring Us is Always a Winning Move?-->
@Html.Partial("HP/_ourServices", homePage)

<!-- Our Legal Practice Areas-->
@Html.Partial("HP/_LegalPracticeAreas", homePage)

<!-- Call to Action-->
@Html.Partial("HP/_SignUp", homePage)

<!-- Quotes-->
@Html.Partial("HP/_ClientsTestimonials", homePage)

<!-- Some Of Our Clients-->
@Html.Partial("HP/_SomeOfOurClients", homePage)

<!-- Winning is easier than you think...-->
<section class="bg-accent-2">
    <section class="section parallax-container" data-parallax-img="../images/bg-image-3.jpg">
        <div class="parallax-content parallax-light">
            <div class="section-lg">
                <div class="container">
                    <div class="row row-50 justify-content-md-center justify-content-xl-between">
                        <div class="col-md-10 col-lg-6 col-xl-5">
                            <h3 class="heading-decorated" style="max-width: 70%;">Winning is easier than you think...</h3>
                            <p>Watch this video, where dozens of our former clients tell, how desperate they were to win their respective case and how slim their chances seemed... before hiring us as their lawyers! That's right, our law firm has the highest wins ratio percentage among all other Houston, Texas legal practices. With us, there's just no other way but to win!</p><a class="button button-primary" href="won-cases.html">Our Cases</a>
                        </div>
                        <div class="col-md-10 col-lg-6">
                            <!-- Video overlay wrap-->
                            <div class="video-overlay-wrap">
                                <div class="video-overlay">
                                    <div class="video-overlay__image bg-image" style="background-image: url(../images/video-preview-1-652x461.jpg);"></div><span class="video-overlay-icon linear-icon-play-circle"></span>
                                </div>
                                <div class="video-overlay__video">
                                    <div class="entry-video embed-responsive embed-responsive-16by9">
                                        <iframe width="886" height="668" src="//www.youtube.com/embed/ccuQoF0vKYU" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Featured News-->
@Html.Partial("HP/_FeaturedNews", homePage)

<!-- Distinctive Recognition-->
@Html.Partial("HP/_DistinctiveRecognition", homePage)

