@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var homePage = (HomePage)Model.AncestorOrSelf(1);
}

@Html.Partial("HP/_HPswiperSlider", homePage)

<!-- Welcome-->
@Html.Partial("HP/_HPwellcom", homePage)

<!-- Why Hiring Us is Always a Winning Move?-->
<section class="section parallax-container bg-accent-2 text-center" data-parallax-img="../images/parallax-1.jpg">
    <div class="parallax-content">
        <div class="section-md text-center">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-7 col-xl-6">
                        <h3 class="heading-decorated">Why Hiring Us is Always a Winning Move?</h3>
                    </div>
                </div>
                <div class="row row-50 offset-top-1">
                    <div class="col-md-6 col-xl-3">
                        <!-- Blurb tiny-->
                        <article class="blurb-tiny blurb-tiny_centered">
                            <div class="blurb-tiny__icon linear-icon-library2"></div>
                            <h5 class="blurb-tiny__title">Any Litigation</h5>
                            <p>It's very hard to name a civil litigation field where our expertise is absent. Starting with Labor & Employment laws, insurance & personal injuries fields for helping the individuals and finishing with the real estate law, divorce and child custody laws, we have it all covered...</p>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <!-- Blurb tiny-->
                        <article class="blurb-tiny blurb-tiny_centered">
                            <div class="blurb-tiny__icon linear-icon-trophy2"></div>
                            <h5 class="blurb-tiny__title">Winning Streak</h5>
                            <p>Our track record is higher than that of the best MLB pitchers! We've got an amazing percentgae of won cases, with the mark standing now at over 99%... But these kinds of results were made possible only thanks to our due diligence, timely efforts and an incredible range of legal wit!</p>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <!-- Blurb tiny-->
                        <article class="blurb-tiny blurb-tiny_centered">
                            <div class="blurb-tiny__icon linear-icon-hourglass"></div>
                            <h5 class="blurb-tiny__title">Timely Work</h5>
                            <p>Working with a lot of civil litigation allows us to make some considerable timing shortcuts. That means that while we never compromise for an attention to case's details, we also never waste your time idly! Winning ahead of the schedule is our signature move!</p>
                        </article>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <!-- Blurb tiny-->
                        <article class="blurb-tiny blurb-tiny_centered">
                            <div class="blurb-tiny__icon linear-icon-thumbs-up"></div>
                            <h5 class="blurb-tiny__title">Affordable Help</h5>
                            <p>On par with such a client-friendly pace of work, we also have another uncompromised advantage - namely, our reasonable pricing! Keeping in mind that most of our clients are individuals and not businesses - we keep our fees low!</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Legal Practice Areas-->
@Html.Partial("HP/_LegalPracticeAreas", homePage)

<!-- Call to Action-->
@Html.Partial("HP/_SignUp", homePage)

<!-- Quotes-->
<section class="section-md bg-default text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="heading-decorated">See the Testimonials That Our Clients <br class="d-none d-md-block"> Have Submitted So Far:</h3>
            </div>
        </div>
        <div class="row row-50">
            <div class="col-md-6 col-lg-4">
                <!-- Quote default-->
                <div class="quote-default quote-default_left-v2">
                    <div class="quote-default__image">
                        <img src="../images/testimonials-1-120x120.jpg" alt="" width="120" height="120" />
                    </div>
                    <svg class="quote-default__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30.234px" height="23.484px" viewbox="0 0 30.234 23.484" xml:space="preserve">
                    <g>
                    <path d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959              c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246              c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885              c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723              c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984              c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635              s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z"></path>
                  </g>
                </svg>
                    <div class="quote-default__text">
                        <p class="q">As the one who recently suffered from the FELA (Federal Employers’ Liability Act Claims) related issues, I’ve been desperate to find a firm who could have won my case… Then I found these guys! Finally, 3 months later the truth and the law prevailed, all thanks to this firm’s lawyers diligence!</p>
                    </div>
                    <p class="quote-default__cite">Daniela Williams</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Quote default-->
                <div class="quote-default quote-default_left-v2">
                    <div class="quote-default__image">
                        <img src="../images/testimonials-2-120x120.jpg" alt="" width="120" height="120" />
                    </div>
                    <svg class="quote-default__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30.234px" height="23.484px" viewbox="0 0 30.234 23.484" xml:space="preserve">
                    <g>
                    <path d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959              c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246              c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885              c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723              c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984              c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635              s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z"></path>
                  </g>
                </svg>
                    <div class="quote-default__text">
                        <p class="q">Business litigation has always been what our competitors were using to suppress us… But as soon as we’ve hired this law firm, which by the way had fees 5 times lower than the one our competitors paid to their lawyers, we finally had all the disputes resolved in our favor!</p>
                    </div>
                    <p class="quote-default__cite">Gary Growles</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Quote default-->
                <div class="quote-default quote-default_left-v2">
                    <div class="quote-default__image">
                        <img src="../images/testimonials-3-120x120.jpg" alt="" width="120" height="120" />
                    </div>
                    <svg class="quote-default__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30.234px" height="23.484px" viewbox="0 0 30.234 23.484" xml:space="preserve">
                    <g>
                    <path d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959              c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246              c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885              c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723              c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984              c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635              s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z"></path>
                  </g>
                </svg>
                    <div class="quote-default__text">
                        <p class="q">Some time ago our company has gone through a very harsh merger & acquisition process, which left us felt questioning our business partners. But thanks to this law firm, we were finally able to resolve our situation and take our company back!</p>
                    </div>
                    <p class="quote-default__cite">Walter Cronkate</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Some Of Our Clients-->
@Html.Partial("HP/_SomeOfOurClients", homePage)

<!-- Winning is easier than you think...-->
<section class="bg-accent-2">
    <section class="section parallax-container" data-parallax-img="../images/bg-image-3.jpg">
        <div class="parallax-content parallax-light">
            <div class="section-lg">
                <div class="container">
                    <div class="row row-50 justify-content-md-center justify-content-xl-between">
                        <div class="col-md-10 col-lg-6 col-xl-5">
                            <h3 class="heading-decorated" style="max-width: 70%;">Winning is easier than you think...</h3>
                            <p>Watch this video, where dozens of our former clients tell, how desperate they were to win their respective case and how slim their chances seemed... before hiring us as their lawyers! That's right, our law firm has the highest wins ratio percentage among all other Houston, Texas legal practices. With us, there's just no other way but to win!</p><a class="button button-primary" href="won-cases.html">Our Cases</a>
                        </div>
                        <div class="col-md-10 col-lg-6">
                            <!-- Video overlay wrap-->
                            <div class="video-overlay-wrap">
                                <div class="video-overlay">
                                    <div class="video-overlay__image bg-image" style="background-image: url(../images/video-preview-1-652x461.jpg);"></div><span class="video-overlay-icon linear-icon-play-circle"></span>
                                </div>
                                <div class="video-overlay__video">
                                    <div class="entry-video embed-responsive embed-responsive-16by9">
                                        <iframe width="886" height="668" src="//www.youtube.com/embed/ccuQoF0vKYU" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Featured News-->
@Html.Partial("HP/_FeaturedNews", homePage)

<!-- Distinctive Recognition-->
@Html.Partial("HP/_DistinctiveRecognition", homePage)

